# Assignment 2

### Exercise 1: Basic Dictionary Creation and Access
Objective: Create a dictionary named student_info containing at least three key-value pairs where keys are student names (as strings) and values are their respective ages (as integers). Then, access and print the age of a specific student.


Primero realizamos el diccionario llamado 'student_info'

In [6]:
student_info= {'Mario': 24, 'Daniela': 22, 'Francisco': 33}

In [5]:
type(student_info)

dict

Comprobamos que es una función diccionario, por lo tanto aplicaremos la función print para saber la edad de Francisco

In [8]:
print(student_info['Francisco'])

33

### Exercise 2: Modifying Dictionary Values
**Objective:** Start with a dictionary `product_prices` where keys are product names (strings) and values are their prices (floats). Select a product and update its price. Then, add a new product with its price to the dictionary.

Iniciamos con el diccionario 'product_prices' con tres productos y sus precios

In [9]:
product_prices= {'pollo': 7.50, 'Gaseosa': 12, 'Panetón': 15}

Comprobamos que es una función diccionario, con la función type

In [11]:
type(product_prices)

dict

A continuación elegiremos el precio del pollo y lo subiremos a 8.50. Lo comprobaremos con la función print

In [13]:
product_prices['pollo']= 8.50

print(product_prices)

{'pollo': 8.5, 'Gaseosa': 12, 'Panetón': 15}

Ya que aumentamos el precio del pollo, ahora agregaremos al diccionario el vino y su precio con el método update. Luego lo comprobaremos con la función print

In [15]:
product_prices.update({'vino':34})

print (product_prices)

{'pollo': 8.5, 'Gaseosa': 12, 'Panetón': 15, 'vino': 34}

### Exercise 3: Dictionary Comprehension
**Objective:** Create a dictionary `squared_numbers` using dictionary comprehension where keys are integers from 1 to 10, and values are the squares of these keys.

Al ser un dicionario la función va entre { }, es así que creamos la función en la cual el key lo llamamos number, este number son numeros en un rango del 1 al 10, los valores son el cuadrado, tal cual se ve a continuación:

In [1]:
squared_numbers= {number: number**2 for number in range(1, 11)}

Le damos a print para ver el resultado

In [3]:
print(squared_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Exercise 4: Nested Dictionaries
**Objective:** Create a nested dictionary `employee_data` where each key is an employee ID (integer) and each value is another dictionary with keys 'Name', 'Position', and 'Salary'. Then, access and print the name and position of a specific employee by their ID. This dictionary `employee_data` should have only 5 keys.

Primero creamos el dictionario con los datos: Nombre, Posición y Salario. Son 5 keys asi que creamos 5 IDs:

In [6]:
employee_data = {
    2001: {'Name': 'Katty Ticona', 'Position': 'Media Planner', 'Salary': 3800},
    2002: {'Name': 'Diego DuPont', 'Position': 'Journalist', 'Salary': 4000},
    2003: {'Name': 'Ronald Tello', 'Position': 'Visual Effects Assistant', 'Salary': 5000},
    2004: {'Name': 'Claudia Vera', 'Position': 'Analyst', 'Salary': 2500},
    2005: {'Name': 'Andrea Arreluceta', 'Position': 'Graphic Designer', 'Salary': 3000}}

In [10]:
print(employee_data)

{2001: {'Name': 'Katty Ticona', 'Position': 'Media Planner', 'Salary': 3800}, 2002: {'Name': 'Diego DuPont', 'Position': 'Journalist', 'Salary': 4000}, 2003: {'Name': 'Ronald Tello', 'Position': 'Visual Effects Assistant', 'Salary': 5000}, 2004: {'Name': 'Claudia Vera', 'Position': 'Analyst', 'Salary': 2500}, 2005: {'Name': 'Andrea Arreluceta', 'Position': 'Graphic Designer', 'Salary': 3000}}

Luego creamos funciones para poder extraer data del diccionario:

In [12]:
def print_employee_info(employee_id):
    if employee_id in employee_data:
        employee_info = employee_data[employee_id]
        print(f"Employee ID: {employee_id}")
        print(f"Name: {employee_info['Name']}")
        print(f"Position: {employee_info['Position']}")

Ahora podemos tener el nombre y posición de cualquiera de los 5 employees solo con su ID:

In [13]:
print_employee_info(2002)

Employee ID: 2002
Name: Diego DuPont
Position: Journalist

### Exercise 5: Merging Dictionaries
**Objective:** You have two dictionaries `dict1` and `dict2` with non-overlapping keys. Merge these two dictionaries into a new dictionary `merged_dict` and print its contents. This `merged_dict` dict should have all the keys.

In [19]:
    # Initial product prices
    product_prices = {
        "Laptop": 999.99,
        "Smartphone": 499.99,
        "Headphones": 89.99,
        "Camera": 279.99
    }

In [20]:
dict1 = {"A": 1, "B": 2, "C": 3}
dict2 = {"D": 4, "E": 5, "F": 6}

In [23]:
merged_dict = dict(zip(dict1.keys(), dict1.values()))

In [24]:
merged_dict.update(dict(zip(dict2.keys(), dict2.values())))

In [25]:
print(merged_dict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

## Pandas

### Exercise 1: Selecting Single Column with .loc
**Objective**: Use .loc to select and print only the 'Name' column for all rows.

In [1]:
import pandas as pd

# Dataframe example
data = {'Name': ['Ronald', 'Alberto', 'Beto'],
        'Age': [85, 28, 35],
        'City': ['Lima', 'Arequipa', 'Ica']}
df = pd.DataFrame(data)

# Age column
age_column = df.loc[:, 'Name']

# Print 
print(age_column)

0     Ronald
1    Alberto
2       Beto
Name: Name, dtype: object

### Exercise 2: Row Slicing with .iloc
**Objective**: Use .iloc to select and print rows 2 through 4 (inclusive).

In [18]:
# Slice 1
row_slice = df.iloc[2:5,:]

print(row_slice)

   Name  Age City
2  Beto   35  Ica

### Exercise 3: Selecting Multiple Columns with .iloc
**Objective**: Use .iloc to select and print the 'Name' and 'Age' columns for all rows.

In [14]:
# Slice 2

column_data = df.iloc[0:len(df),0: 2]

print(column_data)

      Name  Age
0   Ronald   85
1  Alberto   28
2     Beto   35

### Exercise 4: Conditional Selection with .loc
**Objective**: Use .loc to select and print rows where the 'Age' is greater than 30.

### Exercise 5: Modifying Data with .loc
**Objective**: Use .loc to change the 'City' of the person named 'Alice' to 'Boston'. Then, print the updated DataFrame.

In [ ]:
# Creating a DataFrame for the exercise
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}