# Assignment 3 - Group 4 (Diego, Katty, Ronald, Claudia)

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.

First we need to import our panda library

In [20]:
import pandas as pd

Then we assign file path

In [21]:
db_path= r"C:\Users\usuario\Documents\GitHub\MediaLab_Summer_Python\_data\bogota_firms.xlsx"

In [22]:
database_bogota = r"C:\Users\usuario\Documents\GitHub\MediaLab_Summer_Python\_data\bogota_firms.xlsx"

If we want to read the file and crate a dataframe with pandas, we should use the function 'read_excel' adding the database_bogota variable

In [23]:
data_frame = pd.read_excel(database_bogota, sheet_name='Results')

We'd like to show a random sample of 5 rows from the dataset, here it is:

In [18]:
data_frame.sample(5)

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
8020,8021.0,ARAUCANA DE NEGOCIOS SAS,CO,ARAUCA,3212.0,U1,2022,n.a.,n.a.,3899996,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
8868,8869.0,VISION INMOBILIARIA M LTDA,CO,MONTERIA,6820.0,U1,2022,n.a.,n.a.,3826822.701,...,198383.081,62.989354,n.a.,n.a.,124955,64.994071,n.a.,n.a.,n.a.,n.a.
1069,1070.0,DIVANCO S A S,CO,RESTREPO,4752.0,U1,2022,n.a.,n.a.,4632268.123,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2431,2432.0,CAJIGAS SPINEL Y ASOCIADOS S A S,CO,BOGOTA,NaN,U1,2022,n.a.,n.a.,4474187,...,506550,160.836584,1871079,782.07325,1646854,856.594337,n.a.,n.a.,n.a.,n.a.
224,225.0,DYALOGO S A S,CO,BOGOTA,NaN,U1,2022,n.a.,n.a.,4740797.649,...,1768573.978,561.546536,1513767.66,632.724323,1505703.752,783.176473,n.a.,n.a.,n.a.,n.a.

2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.

Firstly, to do the new dataset, we need to drop the columns with dolars data through a loop and drop function

In [88]:
delete_usd=[column for column in data_frame.columns if 'USD' in column]  
delete_usd = data_frame.drop(columns=delete_usd)

Create a new loop for maintain the column of operating revenue

In [112]:
maintain_data=[column for column in delete_usd.columns if column == 'Operating revenue (Turnover)\nth LCU 2023' or column == 'Company name Latin alphabet']
maintain_data = delete_usd[maintain_data]

Now we create a new loop for reshape the dataset with the years and using the melt function

In [115]:
reshaped_table = maintain_data.melt(id_vars=['Company name Latin alphabet'], var_name='Year', value_name='LCU')
reshaped_table['Year'] = reshaped_table['Year'].str.extract('(\d{4})')

Finally we resolve

In [116]:
reshaped_table

                            Company name Latin alphabet  Year   LCU
0     CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...  2023  n.a.
1                 AGRET CARGA NACIONAL Y ESPECIAL S A S  2023  n.a.
2                              DINASTIA INVERSIONES S A  2023  n.a.
3                          BACKBONE COMUNICACIONES LTDA  2023  n.a.
4                                   MACAOL ESPINOSA SAS  2023  n.a.
...                                                 ...   ...   ...
9995                                     GRADISPAN LTDA  2023  n.a.
9996    CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S  2023  n.a.
9997                         JOSHUA CAFE IRLANDES S A S  2023  n.a.
9998                    PROYECTO AGUAS DEL BOSQUE S A S  2023  n.a.
9999                      GRUPO INVERSIONES SYNERGY SAS  2023  n.a.

[10000 rows x 3 columns]

3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.

First we need to define a dictionary with the new column names:

In [86]:
new_columns = {
    "Company name Latin alphabet": "Co. Nm Ltin Alpha",
    "Country ISO code": "Cntry ISO cd",
    "City Latin Alphabet": "City L Alpha", "Consolidation code": "Conso code", "Last avail. year": "LAY", "Operating revenue (Turnover)": "Rev LCU", }

Then we have to use a function to rename the columns, here it is:

In [83]:
data_frame.rename(columns=new_columns, inplace=True)

To show how we rename the columns we take 5 random columns to see the results:

In [85]:
data_frame.sample(5)

,Unnamed: 0,Co. Nm Ltin Alpha,Cntry ISO cd,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Conso code,LAY,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
1301,1302.0,EMPRESA DE PLANES Y SERVICIOS DE COLOMBIA S A S,CO,CUCUTA,4299.0,U1,2022,n.a.,n.a.,4601853.198,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
6802,6803.0,EMPRESA DE DESECHOS ESPECIALES S A S E S P,CO,PEREIRA,3812.0,U1,2022,n.a.,n.a.,4010798,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9195,9196.0,ASOCIACION COLOMBIANA DE MEDICINA INTERNA,CO,BOGOTA,9499.0,U1,2018,n.a.,n.a.,n.a.,...,1516165.935,481.403515,726914.48,303.835578,1273837.728,662.573722,n.a.,n.a.,n.a.,n.a.
6959,6960.0,UNION INTERNACIONAL DE NEGOCIOS S A S,CO,MEDELLIN,4690.0,U1,2022,n.a.,n.a.,3998082.563,...,n.a.,n.a.,74922.036,31.315899,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9105,9106.0,COOPERATIVA DE TRABAJO ASOCIADO JIREH SALUD,CO,CALI,8690.0,U1,2009,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

4. Generate a dictionary with the definition of all the columns in your dataset.

5. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use for loop.b

In [ ]:
# New Data with Loop

for key, value in name_dictionary.items() :
    print[key]
    print[value]

6. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use while loop.