In [6]:
# Assignment 3

### 1. Inspect this dataset ./_data/bogota_firms.xlsx and show some descriptive statistics of it.

### 2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.

### 3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
    
### 4. Generate a dictionary with the definition of all the columns in your dataset.

### 5. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use for loop.

### 6. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use while loop.

In [7]:
### 1. Inspect this dataset ./_data/bogota_firms.xlsx and show some descriptive statistics of it.


import pandas as pd


data = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')
data.head()

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.

In [8]:
### Con data shape, obtenemos el número de filas y columnas
fil_col_ = data.shape
### Con data size, obtenemos el número total de elementos
elementos =data.size

print (fil_col_, elementos)

(10000, 33) 330000

In [9]:
data.head()

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.

In [10]:
#Descriptive statistic

data[::]["Last avail. year"].min()
data_ordered = data.sort_values(by=['Last avail. year'])
data_ordered[::]["Last avail. year"]

5575    2005
1645    2005
913     2005
2081    2005
6603    2005
        ...
3275    2023
2273    2023
7115    2023
4778    2023
8676    2023
Name: Last avail. year, Length: 10000, dtype: int64

In [11]:
################################################################   EXERCISE 2    #####################

########### PARTE1


# Specific characters to look for
specific_chars = 'Company '
specific_chars_2 ='Operating revenue'

# Identify columns that contain the specific characters
columns_to_keep_1 = [column for column in data.columns if specific_chars  in column]
columns_to_keep_2 = [column for column in data.columns if specific_chars_2 in column]


# Drop these columns
columns_to_keep_3 = columns_to_keep_1 +  columns_to_keep_2

# Select only the columns to keep
data = data[columns_to_keep_3]
# The modified DataFrame
data.head()

,Company name Latin alphabet,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth USD 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth USD 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth USD 2020,Operating revenue (Turnover)\nth LCU 2019,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,n.a.,4769810,991.603226,11542995,2899.405066,1595190,463.058445,1830135,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,n.a.,4769796.503,991.600421,5259328.067,1321.054236,n.a.,n.a.,612146.462,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,n.a.,4769348.616,991.507309,1701322.858,427.34352,879949.217,255.43535,653859.797,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,n.a.,4769148,991.465602,3624485,910.409315,715275,207.633028,743340,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.

In [12]:
########### PART 2

# Specific characters to look for
specific_chars = 'Company '
specific_chars_2 ='Operating revenue'

# Identify columns that contain the specific characters
columns_to_keep_1 = [column for column in data.columns if specific_chars  in column]
columns_to_keep_2 = [column for column in data.columns if specific_chars_2 in column]


# Drop these columns
columns_to_keep_3 = columns_to_keep_1 +  columns_to_keep_2

# Select only the columns to keep
data = data[columns_to_keep_3]
# The modified DataFrame
data.head()

,Company name Latin alphabet,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth USD 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth USD 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth USD 2020,Operating revenue (Turnover)\nth LCU 2019,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,n.a.,4769810,991.603226,11542995,2899.405066,1595190,463.058445,1830135,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,n.a.,4769796.503,991.600421,5259328.067,1321.054236,n.a.,n.a.,612146.462,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,n.a.,4769348.616,991.507309,1701322.858,427.34352,879949.217,255.43535,653859.797,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,n.a.,4769148,991.465602,3624485,910.409315,715275,207.633028,743340,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.

In [13]:
########################################## Reshaping  ##########################################


# Reshaping the dataset from wide to long format at the year level
# 'id_vars' is used to keep the 'Company name Latin alphabet' column as is
# 'var_name' names the new column that will contain the years
# 'value_name' names the new column that will contain the operating revenues
reshaped_df = data.melt(id_vars=["Company name Latin alphabet"], var_name="Year", value_name="Operating Revenue LCU")

# Extracting the year from the 'Year' column
# The lambda function takes each entry in 'Year', splits it by spaces, and takes the last part (which is the year)
reshaped_df['Year'] = reshaped_df['Year'].apply(lambda x: x.split()[-1])

reshaped_df.head()  # Displaying the first 5 rows of the reshaped dataframe

,Company name Latin alphabet,Year,Operating Revenue LCU
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,2023,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,2023,n.a.
2,DINASTIA INVERSIONES S A,2023,n.a.
3,BACKBONE COMUNICACIONES LTDA,2023,n.a.
4,MACAOL ESPINOSA SAS,2023,n.a.