In [1]:
import pickle
import pandas as pd
import numpy as np

# 5. Functions and Class
In this class we will cover everything related to creating functions and clases in Python.

- <a href='##5.1.'>5.1. Functions</a>
     - <a href='##5.1.1.'>5.1.1. The Importance of Python Functions </a> 
     - <a href='##5.1.2.'>5.1.2. Basic structure of a function </a> 
     - <a href='##5.1.3.'>5.1.3. Function without `return` function </a> 
     - <a href='##5.1.5.'>5.1.5. Multiple objects for return </a> 
     - <a href='##5.1.5.'>5.1.5. If condition with return </a>
     - <a href='##5.1.6.'>5.1.6. Default values to parameters </a> 
     - <a href='##5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 
     - <a href='##5.1.8.'>5.1.8. Local variables VS Global variables </a> 
     - <a href='##5.1.9.'>5.1.9. Args </a> 
     - <a href='##5.1.10.'>5.1.10. Kwargs </a> 
- <a href='##5.2.'>5.2. Class </a> 
     - <a href='##5.2.1.'>5.2.1. The Importance of Python Classes </a> 
     - <a href='##5.2.2.'> 5.2.2. Defining a class </a> 
     - <a href='##5.2.3.'> 5.2.3. Attributes </a> 
     - <a href='##5.2.5.'> 5.2.5. Method </a>
     - <a href='##5.2.6.'> 5.2.6. \_\_init\_\_() </a>
     - <a href='##5.2.7.'> 5.2.7. Self </a>
- <a href='##5.3.'>5.3. References </a>

##  <a id='#5.1.'>5.1. Functions</a>

### <a id = '#5.1.1.'> 5.1.1.The Importance of Python Functions </a>

- Abstraction and Reusability: Replicate the code you will use over and over again.
- Modularity: Functions allow complex processes to be broken up into smaller steps.
- Namespace Separation: It allows you to use variables  and used within a Python function even if they have the same name as variables defined in other functions or in the main program.

### <a id='#5.1.2.'> 5.1.2. Basic structure of a function </a> 
A function requires **parameters**, **code** to execute and the **return** function. The **def** keyword introduces a new Python function definition.

This is the basic structure:
<br><br>

<font size="4">
def name_function<font color='green'>( parameter1, parameter2 )</font>: <br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='green'>return</font> final_output<br>
</font>

In [1]:
import numpy as np

In [2]:
5**2

25

In [5]:
def power(x):
    # code
    xsq = x**2
    
    return xsq

In [6]:
power(x=7)

49

In [7]:
def calculator(x, y):
    # code
    mult = x * y
    
    return mult

In [10]:
import numpy as np

In [8]:
calculator(x=10, y=50)

500

In [25]:
def calculator(x, y, z, p):
    # code
    vanessa = x * y * z * p
    
    return vanessa

In [22]:
calculator(x= 10, y=5, z=2, p=24)

2400

In [23]:
calculator( 10, 5, 2, 24)

2400

In [24]:
calculator( p=24,z=2, x= 10, y=5)

2400

In [ ]:
vec_1= np.arange(0, 10)
vec_2 = np.arange(0, 10)

In [15]:
vec_1*vec_2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
vec_2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
calculator(x=vec_1, y=vec_2)

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [14]:
vec_1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
def multiplication(x, y, z):
    result = x*y*z
    return result

In [8]:
multiplication(8, 6, 2)

96

In [32]:
marco = 28

In [33]:
marco

28

In [38]:
True == 25

False

In [34]:
100 == 1

False

In [42]:
if 60>50:
    vanessa = 100
    print(vanessa)

100

In [44]:
0 == 1

False

In [46]:
False == 1

False

In [49]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)

In [64]:
info_students(x="Valeria", y="Reyes", z=True)

Her name is Valeria , Her lastname is Reyes

In [97]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return name, lastname

In [95]:
info_students(x="Valeria", y="Reyes", z=True)

('Her name is Valeria', 'Her lastname is Reyes')

In [91]:
def multiplication(x, y, z):
    mult_1 = x*y 
    mult_3 = z*y 
    
    result = x*y*z
    
    return result, mult_1, mult_3

In [92]:
multiplication(4, 5, 6)

(120, 20, 30)

In [94]:
mult_3

NameError: name 'mult_3' is not defined

In [72]:
lastname

NameError: name 'lastname' is not defined

In [53]:
nathaly = "Belapatiño"

In [62]:
nathaly_2 = "Belapatiño"

In [61]:
nathaly_2

'Belapatiño'

In [63]:
info_students(x="Valeria", y="Reyes", z=True)

Her name is Valeria , Her lastname is Reyes

In [29]:
info_students(x = "Valeria", y = "Reyes", z = True)

Her name is Valeria , Her lastname is Reyes

In [30]:
info_students(x = "Pablo", y = "Paredes", z=False)

His name is Pablo , His lastname is Paredes

In [18]:
info_students("Guillermo", "Coronado", False)

His name is Guillermo , His lastname is Coronado

In [14]:
def calculator(x, y):
    
    if x < y:
        print("division out range")
        result = np.nan
    else: 
        result  = x/y
    
    return result

In [16]:
calculator(4, 3)

1.3333333333333333

In [17]:
def calculator( x, y, z ):
    
    result = x * y * z
    
    return result

In [20]:
calculator( 158, 38, 10 )

60040

In [22]:
calculator( 4, 7, 0)

0

In [19]:
return1 = calculator( 4, 7 )
return1

TypeError: calculator() missing 1 required positional argument: 'z'

### <a id='#5.1.3.'>5.1.3. Function without `return` function </a> 
When we define a function without the `return` function, the generated function does not return any output.

In [44]:
x2 = 5
y2 = 10

In [106]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2 
    
    #return result

In [108]:
calculator_square( 5, 10 )

In [50]:
calculator_square( x, y )

2500

In [6]:
return2 = calculator_square( 4, 7 )
return2

784

In [53]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)
    #return lastname

In [83]:
def info_students(x, y, z, s, e):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [90]:
tupe_1 = (10, 20, "true", True)
tupe_1[1]

20

In [84]:
info_students("Gabriela", "Narvaez", True , "CIFO", 17)

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [81]:
name_student =  info_students("Gabriela", "Narvaez", True , "CIFO", 17)

In [82]:
name_student

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [36]:
name

NameError: name 'name' is not defined

### <a id='#5.1.5.'>5.1.5. Multiple objects for return </a> 
The output of a function can have several objects. These objects are stored in a tuple by default.

In [51]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    return result, x2, y2

In [52]:
calculator_square(3, 4)

(144, 9, 16)

In [53]:
result4 = calculator_square( 8, 9 )
result4

(5184, 64, 81)

In [54]:
type(result4)

tuple

In [58]:
result4[2]

81

We can name the outputs in one line.

In [59]:
output_1 = result4[0]
output_2 = result4[1]
output_3 = result4[2]

In [63]:
output_2

64

In [11]:
result5, x_2, y_2 = calculator_square( 8, 9 )

### <a id='#5.1.5.'>5.1.5. If condition with return </a>

In [109]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    if ( 200 >= result ):
        return result, x2, y2
    
    elif ( 500 >= result > 200 ):
        print( "Large number. Get only the result variable")
        return result
    
    else:
        print( "Too large number. Do not return variables!")

In [110]:
calculator_square(2, 5)

(100, 4, 25)

In [114]:
calculator_square(3, 5)

Large number. Get only the result variable

225

In [115]:
calculator_square(10, 20)

Too large number. Do not return variables!

In [72]:
calculator_square( 2, 10 )

Large number. Get only the result variable

400

In [73]:
calculator_square( 8, 2 )

Large number. Get only the result variable

256

In [74]:
calculator_square( 8, 10 )

Too large number. Do not return variables!

### <a id='#5.1.6.'>5.1.6. Default values to parameters </a> 
We can define default values to parameters.

In [96]:
def calculator_base_20(x, y=20):
    result = x*y
    return result

In [97]:
calculator_base_20( x=100 )

2000

In [82]:
def calculator_base_10(x, y = 10):
    result = x*y
    return result

In [83]:
calculator_base_10(15, y = 9)

135

In [84]:
def calculator_base_5( x , y = 5 ):
    
    result = x * y
    
    return result

In [86]:
calculator_base_5( x )

25

In [87]:
result3 = calculator_base_5( 7 )
result3

35

In [102]:
def info_students(x, y, s, e, sex=True):
    
    if sex == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [104]:
info_students("Cristhian", "Alfaro","CIFO", 17)

('Her name is Cristhian',
 'Her lastname is Alfaro',
 'Her school is CIFO',
 'She is a kid')

### <a id='#5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 

It is important to note that Python won't raise a TypeError if you pass a float into x, the reason for this is one of the main points in Python's design philosophy: "We're all consenting adults here", which means you are expected to be aware of what you can pass to a function and what you can't. If you really want to write code that throws TypeErrors you can use the isinstance function to check that the passed argument is of the proper type or a subclass of it like this:

In [118]:
def calculator_base_10( x:int, y:float ) -> float:
    result = x*y
    return result

In [119]:
calculator_base_10(4, 4.5)

18.0

In [121]:
calculator_base_10( 4.5, 4 )

18.0

In [88]:
def calculator_base_5( x : int, y : float ) -> float:
    
    result = x * y
    
    return result

In [96]:
x2**"Trea"

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'str'

In [91]:
calculator_base_5( 10.0, 15 )

150.0

In [129]:
def calculator_base_5( x : int, y : float , z:list, ) -> float:
    
    if not isinstance( x , int ):
        raise TypeError( "X variable is not int type.")
        
    if not isinstance( y, float ):
        raise TypeError( "Y variable is not float type.")
    
    if not isinstance( z, list ):
        raise TypeError( "Y variable is not list type.")

    result = x * y
    
    
    return result

In [131]:
calculator_base_5( 3.0, 5.8, [1,2])

TypeError: X variable is not int type.

In [26]:
calculator_base_5( 4.5, 3)

TypeError: X variable is not int type.

In [27]:
calculator_base_5( 4, 3 )

TypeError: Y variable is not float type.

In [28]:
calculator_base_5( 4, 3.8 )

15.2

### <a id='#5.1.8.'>5.1.8. Local variables VS Global variables </a> 

|Variables|Definition|
|---|---|
|Global Variables| Variables declared outside a function.|
|Local Variables | Variables declared inside a function.|

The parameters and the variables created inside a function are local variables. They take values when the function is executed; however, they do not exist outside the function since they belong to a different namespace. A namespace is a system that has a unique name for every object in Python. When a Python function is called, a new namespace is created for that function, one that is distinct from all other namespaces that already exist. That is the reason we can use various functions with parameters and variables with the same name. Additionally, it explains why the variables generated inside a function do not exist outside the defined function namespace.

#### Example

In [29]:
pwd

'C:\\Users\\Alexander\\Documents\\GitHub\\Diplomado_PUCP\\Lecture_5'

In [30]:
%run "function_1.ipynb"

In [31]:
def lower_case( string1  ):
    
    str_result = string1.lower()
    
    return str_result

In [32]:
lower_case( "ADRIANA")

'adriana'

In [33]:
str_result

NameError: name 'str_result' is not defined

In [34]:
result2 = lower_case( "DIPLOMA")
result2

'diploma'

Now, we try to call the variable `str_result`.

In [35]:
str_result

NameError: name 'str_result' is not defined

We can see that `str_result` is not defined. It does not exist in the main space. It was defined in the namespace of **lower_case**. In concluion, `str_result` is a local variable. <br>
`result2` is a global variable.

### <a id='#5.1.9.'>5.1.9. Args </a> 

The special syntax **\*args** in function definitions in python is used to pass a variable number of arguments to a function. The object **\*args** is a **tuple** that contains all the arguments. When you build your code, you should consider **\*args** as a **tuple**.

In [36]:
def calculator( *args ):
    
    print( f"args is a {type( args )}" )
    # Get the first value
    result = args[ 0 ]
    
    # Keep the rest of values
    args1 = args[ 1: ]
    
    # multiply all elements
    for element in args1:
        result = result * element
    
    return result

In this example, the values `8, 9, 50 and 40` are storing in a list.

In [37]:
calculator( 8, 9, 50, 40, 10, 17 )

args is a <class 'tuple'>

24480000

We can use **\*args** with a different name (e.g., **\*list_vars** ). We should keep the asterisk (**\***).

In [132]:
def calculator( *list_vars ):
    
    print( f"args is a { type( list_vars ) }" )
    # Get the first value
    result = list_vars[ 0 ]
    
    # Keep the rest of values
    list_vars1 = list_vars[ 1: ]
    
    # multiply all elements
    for element in list_vars1:
        result = result * element
    
    return result

In [134]:
calculator( 8, 9, 50, 40, 23, 20, 12 )

args is a <class 'tuple'>

794880000

### <a id='#5.1.10.'>5.1.10. Kwargs </a> 

The special syntax **\*kwargs** in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

In [142]:
def calculator( *list_vars, **kwargs):
    
    print( type( list_vars ) )
    print( type( kwargs ) )
    
    if ( kwargs[ 'function' ] == "Potencia" ) :
        
        # Get the first value
        result = potencia( list_vars )
    
    elif ( kwargs[ 'function' ] == "multiplication" ) :

        # Get the first value
        result = list_vars[ 0 ]

        # Keep the rest of values
        list_vars2 = list_vars[ 1: ]

        # multiply all elements
        for element in list_vars2:
            result = result * element
    else:
        raise ValueError( f"The function argument {kwargs[ 'function' ]} is not supported." )

    return result

In [140]:
calculator( 4, 5, 6, 7, 8, function = "addition" )

<class 'tuple'>
<class 'dict'>

30

In [141]:
calculator( 4, 5, 6, 7, 8, function = "division" )

<class 'tuple'>
<class 'dict'>

ValueError: The function argument division is not supported.

## Excersise
#### Importing a Dictionary

The `places_result` dictionary stores information from a Google API request that aims to geolocate all the National Identity Management Commission establishments in Nigeria. We want to store the results in a Pandas DataFrame. We want to keep the name of the establishment and its coordiantes.

In [116]:
dictionary_places = open( r"..\_data\places_result", "rb")
places_result = pickle.load( dictionary_places )

NameError: name 'pickle' is not defined

In [151]:
# It is a dictionary
type( places_result )

dict

In [152]:
# See all the establishments

i = 0
while True:
    try:
        i = i + 1
        print( places_result['results'][i]['name'] )
    except:
        break

National Identity Management Commission (Nimc)
National Identity Management Commission NIMC
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission (Nimc)
National Identity Management Center
National Identity Management Commision (NIMC) Lagos
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission Umuahia
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission, Northwest Zonal Office
National Identity Management Commission Nimc

In [153]:
# We want to iterate over all the results to get the location of every point
places_result['results'][0]['geometry']['location']

{'lat': 9.065977, 'lng': 7.4549606}

`places_result` is a nested dictionary. It is composed of a list, dictionary, and a dictionary.

First, we are going to do it using a for loop. We are not going to use a function. After we get our expected results, we will define a function.

##### We can do it lists

In [154]:
from tqdm import tqdm

In [156]:
# Lists
latitudes = []
longitudes = []
institutions = []


# define all the results
results = places_result[ 'results' ]
# loop para guardar cada uno de los elementos
for row in tqdm( range( 0 , len( results ) ) ):
    
    # latitude
    lat = results[ row ]['geometry']['location']['lat']
    
    # Longitude
    lng = results[ row ]['geometry']['location']['lng']
    
    # nombre de la institution
    institution = results[ row ]['name']
    
    # Save results
    latitudes.append( lat )
    longitudes.append( lng )
    institutions.append( institution )
    
# Diccionario
final_result = { 'Institution': institutions, 'Latitud' : latitudes, 'Longitud' : longitudes }
# Dataframe
df_result = pd.DataFrame( final_result )
df_result

100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<?, ?it/s]

                                          Institution    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

##### We can do it using iteration over rows of a DataFrame

In [157]:
df2 = pd.DataFrame( columns = ['Institution','Latitude','Longitud'] )

results = places_result['results']

for fila in tqdm(range( 0 , len( results ) )):
    
    df2.loc[fila] = [results[ fila ]['name'], \
                       results[ fila ]['geometry']['location']['lat'], \
                       results[ fila ]['geometry']['location']['lng']]
    
df2

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 466.35it/s]

                                          Institution   Latitude  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

In [160]:
def dict_output( dictionary , output = 'tuples'):
    
    # key results
    results = dictionary['results']
    
    # Lists
    latitudes = []
    longitudes = []
    inst = []
    
    # iterate over values and store in lists
    # we are going to use lists apporach
    for fila in range( 0 , len( results ) ):
        # latitude
        lat = results[ fila ]['geometry']['location']['lat']

        # Longitude
        lng = results[ fila ]['geometry']['location']['lng']

        # nombre de la institucion
        institucion = results[ fila ]['name']

        # Save results
        latitudes.append( lat )
        longitudes.append( lng )
        inst.append( institucion )
    
    # Store all values in 
    # dictionary
    results_dict = { 'Instituciones': institutions, 'Latitud' : latitudes, 'Longitud' : longitudes }
    
    # pandas
    results_pd = pd.DataFrame( results_dict )
    
    # tuple
    results_tuple = ( latitudes , longitudes , inst )
    
    # We can use return with if condition
    if output == 'dataframe':
        return results_pd
    
    elif output == 'dictionary':
        return results_dict
    
    elif output == 'tuple':
        return results_tuple
    
    else:
        raise Exception( f'''The output value ({output}) is wrong. \nYou can only use `tuple`, `dataframe`, or `dictionary` as argument variables.''' )

In [161]:
dict_output( places_result, output = "tuple" )

([9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365],
 ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'])

In [162]:
dict_output( places_result, output = "dataframe" )

                                        Instituciones    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

In [164]:
dict_output( places_result, output = "dictionary" )

{'Instituciones': ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'],
 'Latitud': [9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 'Longitud': [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365]}

In [165]:
dict_output( places_result, output = "list" )

Exception: The output value (list) is wrong.
You can only use `tuple`, `dataframe`, or `dictionary` as argument variables.

In [118]:
import pandas as pd

In [119]:
extraction_fish = pd.read_csv( r"..\_data\production_fish.csv" )

In [120]:
extraction_fish

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762

In [122]:
extraction_fish.iloc[ 0:6, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.39600,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.83800,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.71300,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.38700,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.63600,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.41304,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.00000,2.824749,10.404933,9.706363,4.994712,3810.729233

In [125]:
extraction_fish.iloc[ 3:9, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737

In [140]:
extraction_fish[extraction_fish.year==2009].index[0]

Int64Index([4], dtype='int64')

In [158]:
year_init = extraction_fish[extraction_fish.year == 2009].index[0]
year_end = extraction_fish[extraction_fish.year == 2015].index[0]
extraction_fish.iloc[ year_init:year_end+1, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296

In [144]:
year_init = extraction_fish[extraction_fish.year==2009].index[0]

In [145]:
year_end =  extraction_fish[extraction_fish.year==2015].index[0]

In [146]:
extraction_fish.iloc[ year_init:year_end+1, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296

In [ ]:
# 2009 -- 4
# 2015 - 10

In [130]:
extraction_fish.iloc[ 4:11, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296

In [ ]:
extraction_fish

In [161]:
def sample_data(data, year_init, year_end):
    
    year_init = data[data.year == year_init].index[0]
    year_end = data[data.year == year_end].index[0]
    
    samp_data = data.iloc[ year_init:year_end+1, : ]
    
    return samp_data

In [166]:
year_init = extraction_fish[extraction_fish.year == 2009].index[0]
year_end = extraction_fish[extraction_fish.year == 2015].index[0]
extraction_fish.iloc[ year_init:year_end+1, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296

In [167]:
year_init = extraction_fish[extraction_fish.year == 2008].index[0]
year_end = extraction_fish[extraction_fish.year == 2020].index[0]
extraction_fish.iloc[ year_init:year_end+1, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762

In [168]:
year_init = extraction_fish[extraction_fish.year == 2018].index[0]
year_end = extraction_fish[extraction_fish.year == 2020].index[0]
extraction_fish.iloc[ year_init:year_end+1, : ]

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.0,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.0,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.0,0.616697,48.115810,14.992172,0.544585,4943.295762

In [169]:
sample_data(data = extraction_fish, year_init=2019, year_end=2020)

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.0,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.0,0.616697,48.115810,14.992172,0.544585,4943.295762

### <a id='#5.2.'>5.2. Class </a> 

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

<img src="../_images\classes.png">

### <a id='#5.2.1.'>5.2.1. The Importance of Python Classes </a> 

Classes are a way to organize your code into generic, reusable peices. At their best they are generic blueprints for things that will be used over and over again with little modification. The original concept was inspired by independent biological systems or organism unique from other organisms by the set or collection of features (attributes) and abilities (methods).

Functions are great to use when data is central to the work being done. Classes are great when you need to represent a collection of attributes and methods that will be used over and over again in other places.

Generally if you find your self writing functions inside of functions you should consider writing a class instead. If you only have one function in a class then stick with just writing a function.



- Classes provide an easy way of keeping the data members and methods together in one place which helps in keeping the program more organized.
- Using classes also provides another functionality of this object-oriented programming paradigm, that is, inheritance.
- Classes also help in overriding any standard operator.
- Using classes provides the ability to reuse the code which makes the program more efficient.
- Grouping related functions and keeping them in one place (inside a class) provides a clean structure to the code which increases the readability of the program.

###  <a id='#5.2.2.'> 5.2.2. Defining a class </a> 
it is considered to be a good practice to include a brief description about the class to increase the readability and understandability of the code.

<font size="4">
<font color='green'>class</font> class_name:<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;    """Description""" <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>def __init__</font><font color  = 'blue'>( <font color='red'>self</font>, parameter1, parameter2 )</font>:<br><br>
</font>

### <a id='#5.2.3.'> 5.2.3. Attributes </a> 
A value associated with an object which is referenced by name using dotted expressions. For example, `np.size`.

In [181]:
extraction_fish.shape

(16, 15)

In [196]:
import numpy as np 

A = np.arange( 8, 25 , 10)
A

array([ 8, 18])

In [192]:
matrix = np.array( [ [1, 2, 4], [5, 6, 7]   ] )
matrix

array([[1, 2, 4],
       [5, 6, 7]])

In [193]:
A.ndim

1

In [194]:
matrix.ndim

2

In [195]:
A.ndim

1

In [13]:
A.ndim

1

In [175]:
A.shape

(9,)

In [8]:
A.dtype

dtype('int32')

In [9]:
#list_1  =  ["alex", "Anzony", "Mariela"]

In [10]:
#list_1

In [11]:
# this an attribute / size
A.itemsize

4

In [155]:
#
A.shape

(9,)

### <a id='#5.2.5.'> 5.2.5. Method </a>
A function which is defined inside a class body. If called as an attribute of an instance of that class, the method will get the instance object as its first argument (which is usually called self). See function and nested scope.

In [197]:
A = np.arange( 0, 10 )
type(A)

numpy.ndarray

In [198]:
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [203]:
A.max()

9

In [201]:
A.min()

0

In [19]:
A.max()

24

In [20]:
A.min()# np.max(A)

8

In [21]:
A.mean()

16.0

In [213]:
B = A

In [190]:
# this a method
A.reshape( 1, -1 )

array([[ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24]])

In [191]:
A.shape

(17,)

In [194]:
A_2 = A.reshape( 1, -1 )
A_2.shape

(1, 17)

In [204]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [22]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [175]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [184]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [118]:
A.min()

8

|Name| Definition|
|---|---|
|attribute|A variable stored in an instance or class.|
|method|A function stored in an instance or class.|

###  <a id='#5.2.6.'> 5.2.6. \_\_init\_\_() </a>

In python classes, “__init__” method is reserved. It is automatically called when you create an object using a class and is used to initialize the variables of the class. It is equivalent to a constructor.

- Like any other method, init method starts with the keyword **“def”**
- **“self”** is the first parameter in this method just like any other method although in case of init, **“self”** refers to a newly created object unlike other methods where it refers to the current object or instance associated with that particular method.
- Additional parameters can be added

### <a id='#5.2.7.'> 5.2.7. Self</a>
self represents the instance of the class. By using the **“self”** keyword we build attributes and methods for the class in python. It binds the attributes with the given arguments.

In the example, **MyFirstClass** I use self to define attributes and methods.

In [50]:
def print_name(name):
    print(name)

In [51]:
print_name(name = "Alexander")

Alexander

In [217]:
class medialab_students:
    
    def __init__(self, name, age, school ):
        
        self.name_student = name
        self.age_student = age
        self.name_school = school
        
    def print_name(self):
        print( f'I am {self.name_student}.' )
        
    def print_age(self):
        print( f'I am  { self.age_student } years old' )

In [218]:
student1 =  medialab_students(name="Emily Pinares", age= 25, school = "Rosa de Santa Maria")

In [219]:
student1.name_school

'Rosa de Santa Maria'

In [213]:
student1.name_student

'Emily Pinares'

In [209]:
student1.age_student

25

In [210]:
student1.print_name()

I am Emily Pinares.

In [211]:
student1.print_age()

I am  25 years old

In [45]:
class qlab_students:
    
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age

    def print_name( self ):
        print( f'I am { self.name_student }.' )
        
    def print_age( self ):
        print( f'I am  { self.age_student } years old' )

In [52]:
student1 = qlab_students( name="Maria Alejandra Colan", age="20"  )

In [53]:
type(student1)

__main__.qlab_students

In [54]:
student1.print_age()

I am  20 years old

In [48]:
# Call methods
student1.print_name()

I am Maria Alejandra Colan.

In [105]:
def calculator(x, y):
    mult = x*y
    return(mult)

In [106]:
calculator(10, 15)

150

In [107]:
mult

NameError: name 'mult' is not defined

In [104]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]

In [110]:
# Requested by Brisa
class qlab_students_2:
    
    def __init__(self, list_st, ages, schools):
        self.name_student = list_st
        self.age_student = ages
        self.list_school = schools
            
    def first_st_list(self):
        print(f'the first in list is {self.name_student[0]}.')
        
    def first_st_list_alpha(self):
        list_sorted = sorted(self.name_student)
        print(f'the first in the list by alpha order {list_sorted[0]}. ')
    
    def print_name( self ):
        print( f'The list of students is { self.name_student }.' )
        
    def print_age( self ):
        print( f'The range of ages is { self.age_student } years old' ) 
    
    def print_schools( self ):
         print( f'The list of schools is  { self.list_school } ' )

In [109]:
dir(qlab_students_2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'first_st_list',
 'first_st_list_alpha',
 'print_age',
 'print_name',
 'print_schools']

In [100]:
sorted(list_students)

['Alex', 'Alexandro', 'Angie', 'Daniela', 'Esteban']

In [101]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]
list_ages = [20, 19, 18, 20]
list_schools = ["Claretiano", "San Columbano", "2045", "Colegio Mayor" ]

In [111]:
summer_students =  qlab_students_2( list_st = list_students, ages= list_ages, schools=list_schools)

In [112]:
# Atribute 1 
summer_students.name_student

['Daniela', 'Angie', 'Esteban', 'Alexandro', 'Alex']

In [115]:
# Atribute 2 
summer_students.age_student

[20, 19, 18, 20]

In [116]:
dir(summer_students)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age_student',
 'first_st_list',
 'first_st_list_alpha',
 'list_school',
 'name_student',
 'print_age',
 'print_name',
 'print_schools']

In [103]:
summer_students.print_schools()

The list of schools is  ['Claretiano', 'San Columbano', '2045', 'Colegio Mayor']

In [96]:
summer_students.first_st_list_alpha()

the first in the list by alpha order Alex.

In [88]:
summer_students.print_name()

The list of students is ['Daniela', 'Angie', 'Esteban', 'Alexandro'].

In [74]:
summer_students.first_st_list()

the first in list is Daniela.

In [44]:
student1.print_age()

I am  20 years old

In [131]:
class MyFirstClass:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_name_1( self ):
        print( f'I am { self.name }.' )
        
    def print_age_1( self ):
        print( f'I am  { self.age } years old' )

In [132]:
#MyFirstClass( name = "Dorkas", age = 25)

In [140]:
student1 = MyFirstClass( name = "Miguel", age = 24)
student1.print_name_1()
student1.print_age_1()

I am Miguel.
I am  24 years old

In [ ]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [35]:
class MyFirstClass:
    
    def __init__( self, name, age ):
        self.name = name
        self.age = age
    
    # best way to define a method
    def print_name_1( self ):
        print( f'I am { self.name }.' )
    
    # wrong way to define a method 
    def print_name_2():
        print( f'This is my { name }.' )
    
    
    # the worst way to call a parameter
    # we need to define them as attributes
    def print_name_3( self ):
        print( f'This is my { name }.' )

In [155]:
class MyFirstClass:
    
    def __init__( self, name, age, school ):
        self.name = name
        self.age = age
        self.school = school
    
    # how to define a method
    def print_name_1( self ):
        print( f'I am { self.name }.' )
    
    # other method
    def person_age( self ):
        print( f' I am { self.name } , I am { self.age } old. ' )
    
    # method
    def person_school( self ):
        print( f' I am {self.name} , I studied at {self.school}. ' )
      
    # # wrong way to define a method 
    def print_name_2():
        print( f'This is my { name }.' )
    
    # the worst way to call a parameter
    # we need to define them as attributes
    # def print_name_3( self ):
    #     print( f'This is my { name }.' )

In [156]:
student2 = MyFirstClass( name = "Jose" , age = 31, school = "Agustiniano" )

In [157]:
dir(student2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'person_age',
 'person_school',
 'print_name_1',
 'print_name_2',
 'school']

In [153]:
student2.person_school()

 I am Jose , I studied at Agustiniano.

In [154]:
student2.print_name_2()

TypeError: print_name_2() takes 0 positional arguments but 1 was given

In [237]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [234]:
student_0.person_school()

 I am Jose , I study at Saco Oliveros.

In [238]:
student_0.print_name_3()

NameError: name 'name' is not defined

In [224]:
student_0.print_name_1()

I am Jose.

When we create an object using a class, we have an instance of this class.

In [36]:
student1 = MyFirstClass( name = "Jose" , age = 22 )

Attributes

In [26]:
student1.age

22

In [27]:
student1.name

'Jose'

Methods

In [28]:
# Calling like an attribute
student1.print_name_1

In [32]:
# Calling like as a method
student1.print_name_1()

I am Jose.

When we do not use the **self** keyword, the class do not recognize `print_name_2` function as a method.

In [33]:
student1.print_name_2()

TypeError: print_name_2() takes 0 positional arguments but 1 was given

When we do not use the **self** keyword, the class does not recognize `name` variable. We need to define it as an `attribute`. Classes are not the same as functions. In functions, the parameters are identified in the namespace, but in classes, they do not.

In [37]:
student1.print_name_3()

NameError: name 'name' is not defined

In [220]:
class select_data:
    
    def __init__(self, data, year_init, year_end):
        
        self.data = data
        self.year_initial = year_init
        self.year_final = year_end
        
    def sample_data(self):
        
        year_init = self.data[self.data.year == self.year_initial].index[0]
        year_end = self.data[self.data.year == self.year_final].index[0]

        samp_data = self.data.iloc[ year_init:year_end+1, : ]

        return samp_data

In [221]:
data_2009_2019 = select_data(extraction_fish, 2009, 2019 )

In [226]:
data_2009_2019.data

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762

In [225]:
data_2009_2019.sample_data()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249

In [ ]:
def sample_data(data, year_init, year_end):
    
    year_init = data[data.year == year_init].index[0]
    year_end = data[data.year == year_end].index[0]
    
    samp_data = data.iloc[ year_init:year_end+1, : ]
    
    return samp_data

# <a id='#5.3.'>5.3. References </a>  

- [Functions](https://www.datacamp.com/community/tutorials/functions-python-tutorial?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-473406571355&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDp9lkv0t5drR4g_hjgXp0DBU3XoRLPEeQT9wGMhCyiZd09kjsAXKaRoCFmUQAvD_BwE)
- [Functions](https://www.w3schools.com/python/python_functions.asp)
- [Args and Kwargs](https://book.pythontips.com/en/latest/args_and_kwargs.html)

- [Clases](https://www.geeksforgeeks.org/namespaces-and-scope-in-python/#:~:text=A%20namespace%20is%20a%20system,form%20of%20a%20Python%20dictionary.&text=Its%20Name%20(which%20means%20name,talks%20something%20related%20to%20scope)

- [Clases](https://www.geeksforgeeks.org/python-classes-and-objects/)

- [Clases Advantages](https://intellipaat.com/blog/tutorial/python-tutorial/python-classes-and-objects/#_Advantages_of_class)

- [Self](https://www.geeksforgeeks.org/self-in-python-class/)

- [FU](https://realpython.com/defining-your-own-python-function/#functions-in-python)

- https://stackoverflow.com/questions/46312470/difference-between-methods-and-attributes-in-python

- https://stackoverflow.com/questions/2489669/how-do-python-functions-handle-the-types-of-parameters-that-you-pass-in