In [2]:
#Assignment 4


##1. Inspect this dataset ./_data/bogota_firms.xlsx and show some descriptive statistics of it.
##2.Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
##3.Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
##4.Generate a dictionary with the definition of all the columns in your dataset.
##5.Generate a function named as calling_data that take as input the name of the firm or list of names (firm_name) and (start_year, end_year). The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without end_year. It means it only takes start_year.

In [3]:
##1. Exercise 1

# We import pandas library and load the data set
import pandas as pd
data = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')
data.head()

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.

In [4]:
# With data shape, we obtain the number of rows and columns
fil_col_ = data.shape

# With data shape, we obtain the number of total elements
elementos =data.size

print (fil_col_, elementos)

(10000, 33) 330000

In [5]:
################################################################   EXERCISE 2    #####################

########### PARTE1

# Specific characters to look for
specific_chars = 'USD'

# Identify columns that contain the specific characters
columns_to_drop = [column for column in data.columns if specific_chars in column]

# Drop these columns
data.drop(columns =columns_to_drop, inplace=True)

# The modified DataFrame
data.head()

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth LCU 2019,Operating revenue (Turnover)\nth LCU 2018,Operating revenue (Turnover)\nth LCU 2017,Operating revenue (Turnover)\nth LCU 2016,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth LCU 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.